.applications{
    height: 100vh;
    margin-top: 10% !important;
}

.applications .test-status{
    display: flex;
    justify-content: flex-end;
}

.applications .test-status .button-status{
    background-color: black;
    color: white;
    margin-bottom: 5%;
    margin-right: 0px !important;
}

@media only screen and (max-width: 600px) {
    .applications{
        margin-top: 20% !important;
    }
}