.header{
    height: 0vh;
}

.header .links{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    list-style: none;
    padding: 0px;
}

.header .links a{
    color: black;
    font-weight: bold;
}

.header .links .logo{
    width: 3em;
    height: 3em;
}

.header .links .spacer{
    flex: 1 1 auto;
}

.header .links .settings-button{
    background-color: rgba(0,0,0,0);
}

/*.header .links a:hover{
    background: rgb(89, 5, 168);
}*/