.settings{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.settings .settings-form{
    width: 50%;
}

.settings .settings-form .form-name{
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    font-weight: bold;
    padding: 1em;
    border-radius: 4px;
    margin-bottom: 30px;
}

.settings .settings-form .form .button-save{
    display: flex;
    justify-content: flex-end;
}