.ui.divided.list>.item{
    border-top: 1px solid rgba(34,36,38,0.55) !important;
}

.ui.divided.list .item .content .header{
    margin-bottom: 2%;
    color: white !important;
}

.ui.divided.list>.item:first-child{
    border-top: none !important;
}

@media only screen and (max-width: 600px){
    .ui.divided.list .item .content .header{
        margin-bottom: 5%;
    }
}